@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900 &display=swap");
:root {
    --clr: #222327;
}
/* width */
::-webkit-scrollbar {
    width: 0;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #858585;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(65, 65, 65, 0.836);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: block;
    align-items: center;
    justify-content: center;
    background: var(--background);
    width: 100%;
    font-family: "Orbitron";
}

.parent-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: var(--clr);
    padding: none;
    margin: none;
}
.parent-container .body {
    padding: 20px 20px 120px;
    color: white;
}
.parent-container .body .kicks-card {
    width: 100%;
    min-height: 100%;
    background: var(--clr);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    padding-bottom: 0;
    background: blue;
}
.parent-container .body .kicks-card .banner {
    width: 100%;
    min-height: 100%;
    position: relative;
}
.parent-container .body .kicks-card .banner .tittle-banner {
    font-family: "Orbitron", sans-serif;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    z-index: 10;
}
.parent-container .body .kicks-card .banner .content-banner {
    height: 100%;
    width: 100%;
    background-image: url("../img/home/sale-view.png") !important;
    background-size: cover;
}
.parent-container .body .kicks-card .content {
    width: 100%;
    height: 100%;
    padding: 0 15px 15px;
}
@media screen and (max-width: 992px) {
    .parent-container .body .kicks-card .banner{
        
    }
    .parent-container .body .kicks-card {
        flex-direction: column;
        height: auto;
    }
}
.parent-container .body .kicks-card .content .content-search-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    position: relative;
    display: flex;
}
.search-input {
    width: calc(100% - 60px); /* para que ocupe el resto del espacio */
    padding-right: 60px; /* para que no tapen el botón */
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    border: none;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #dfdbd2;
    color: #dfdbd2;
    padding-left: 20px;
    font-size: 17px;
    outline: none;
    font-family: "Orbitron";
}
.content-info-one {
    height: 320px;
    overflow-y: hidden;
    overflow-x: hidden;
}
@media screen and(max-width: 992px) {
    .content-info-one {
        height: fit-content;
    }
}
.content-info-one .row-info-one {
    max-width: 100%;
    margin: 0;
}
.scan-qr {
    width: 60px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 0 5px 5px 0;
    border: 1px solid #dfdbd2;
    border-left: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: #dfdbd2;
}
.scan-qr:hover {
    cursor: pointer;
}
.scan-qr i {
    font-size: 25px;
}
.parent-container .body .kicks-card .content .image-qr-content {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 0;
}
.parent-container .body .kicks-card .content .image-qr-content img {
    height: 250px;
    width: 250px;
}
.parent-container .body .kicks-card .content .info-shoes {
    padding: 10px;
}
.parent-container .body .kicks-card .content .info-shoes .name {
    font-family: "Orbitron";
    font-size: 25px;
    line-height: 1;
    text-align: center;
    padding: 20px 10px 10px;
}
.parent-container .body .kicks-card .content .info-shoes p {
    font-family: "Orbitron";
    line-height: 0.6;
    font-size: 23px;
}
.parent-container .body .kicks-card .content .info-shoes p.sale {
    font-family: "Orbitron";
    font-size: 40px;
}
.parent-container .body .kicks-card .content .info-shoes span {
    font-family: "Orbitron";
    line-height: 0.5;
    font-size: 15px;
}
.parent-container .body .kicks-card .content .info-shoes span.info-text {
    color: #29fd53;
}
.parent-container .body .kicks-card .content .info-shoes .card-info-white {
    background: white;
    color: var(--clr);
    padding: 5px;
    border-radius: 3px;
    height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.parent-container .body .kicks-card .content .info-shoes .card-info-white .tittle {
    color: var(--clr);
    text-align: center;
    text-transform: uppercase;
    font-family: "Orbitron";
    margin-bottom: 7px;
}
.parent-container .body .kicks-card .content .info-shoes .card-info-white p {
    color: var(--clr);
    text-align: left;
    font-family: "Orbitron";
    font-size: 12px;
    line-height: 1;
    margin-bottom: 10px;
}
.parent-container .body .kicks-card .content .info-shoes .card-info-white p.brand {
    font-size: 17px;
}
.parent-container .body .kicks-card .content .info-shoes .card-info-white p span {
    font-weight: bold;
}
.parent-container .body .kicks-card .content .content-info-two .btn-sale {
    margin-top: 40px;
    width: 100%;
    padding: 20px;
    font-size: 30px;
    font-family: "Orbitron";
    font-weight: bold;
    letter-spacing: 20px;
    text-transform: uppercase;
    border: 3px solid #29fd53;
    background: var(--clr);
    color: #29fd53;
    border-radius: 5px;
    transition: 0.5s;
}
.parent-container .body .kicks-card .content .content-info-two .btn-sale:hover {
    background: var(--clr);
    width: 100%;
    padding: 20px;
    font-size: 30px;
    font-family: "Orbitron";
    font-weight: bold;
    letter-spacing: 20px;
    text-transform: uppercase;
    border: 3px solid #29fd53;
    background: #29fd53;
    border-radius: 5px;
    color: var(--clr);
    transition: 0.5s;
}
/* SCANNER QR */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#reader {
    width: 100%;
}
#result {
    text-align: center;
    font-size: 1.5rem;
}
#html5-qrcode-button-launching-camera {
    display: none !important;
}
#html5-qrcode-button-camera-stop {
    display: none !important;
}
/* FORMS */
form .tittle-form {
    font-family: "Orbitron";
    color: #29fd53;
    font-size: 35px;
    text-align: center;
    padding: 0 0 10px;
}
form .btn-register {
    padding: 5px;
    background: #222327;
    color: #29fd53;
    font-family: "Orbitron";
    font-size: 25px;
    border: 2px solid #29fd53;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
}
form .btn-register:hover,
.content .btn-register:hover {
    padding: 5px;
    background: #29fd53;
    color: #222327;
    font-family: "Orbitron";
    font-size: 25px;
    border: 2px solid #29fd53;
    border-radius: 5px;
    transition: 0.5s;
}
.form-group {
    margin-bottom: 5px;
}
label {
    color: white;
}
.banner .img-shoe {
    background-size: cover;
    width: 100%;
    height: 400px;
    border: 2px dashed #29fd53;
    margin-bottom: 15px;
}
.banner .img-shoe img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.file-upload {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.camera-icon {
    background-color: #29fd53;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    padding: 50px;
    color: #fff;
}

/* TABLE */
.table-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.table{
    overflow-x: scroll;
}
.content-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #29fd5340;
    border-radius: 5px;
}
.content-search input {
    flex: 1;
    width: calc(100% - 100px);
    padding: 4px;
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px 0px 20px;
    color: #7bcd8b;
}
.content-search input::placeholder {
    color: #29fd5340;
}

.content-search button {
    border: none;
    background: none;
    color: #29fd53;
}
.content-search button i {
    width: 40px;
    padding: 9px;
}
table{
    color: white !important;
}
table thead tr{
    background: #29fd53 !important;
    color: var(--clr);
    border: none;
}
table tbody tr:hover{
    color: white !important;
    background: #ffffff32 !important;
}
.button-table{
    border: none;
    border-radius: 3px;
    color:white;
    border: 2px solid white;
    background: none;
}
.button-table:hover{
    background: white;
    color: var(--clr);
    font-weight: bold;
}
.button-table .icon-table{
    border-radius: 3px;
    width: 45px;
    padding: 7px 0px 7px 0px;
    background: none;
}
/* .fa-eye{
    background: #2b50aa;
}
.fa-edit{
    background: #efe9a8;
}
.fa-trash{
    background: #ff858d;
}
.fa-print{
    background: yellow;
} */

/* END TABLE */

.parent-container .footer {
    flex-shrink: 0;
    height: 106px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--clr);
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.navigation {
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation ul {
    display: flex;
    width: 350px;
    position: relative;
    align-items: center;
    padding: 0;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon {
    transform: translateY(-35px);
    transition: 0.5s;
}
.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    opacity: 0;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0, 5em;
    transition: 0.5s;
}
.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}
.indicator {
    position: absolute;
    top: -50%;
    left: 0;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before {
    content: "";
    position: absolute;
    top: 64%;
    left: -18px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after {
    content: "";
    position: absolute;
    top: 64%;
    left: 56px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 22px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}
