<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        margin: 0px;
        padding: 0px;
        height: 100vh;
        background: red;
        border: none;
    }
    .top{
        height: 100px;
        background: blue;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .content{
        height: 100px;
        background: blue;
        position: fixed;
        bottom: 0px;
        left: 0px;
    }

</style>
<body>
    <div class="top">sdgfdghsfdgsf</div>
<div class="content">
fgsdf
</div>

<script>
    if (document.querySelector('.navigation-button')) {
        document.body.style.paddingBottom = '200px';
    }

</script>
</body>
</html>
